
body{
    background-color: #f6d4fd;
    font-family: 'Arial', Gadget, sans-serif;
    text-align: center;
}

.titulo{
    text-align: center;
    color: #4a148c;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}