
body{
    background-color: #3c3c3d;
    font-family: 'Arial', Gadget, sans-serif;
    text-align: center;
    color: #eeeeee;
}

.accordion-button{
    background-color: #3b3030;
    color: rgb(245, 235, 235);
    border: #d65b5b;
}




