
body{
    background-color: #f6f6ff;
    font-family: 'Arial', Gadget, sans-serif;
    text-align: center;
    color: #000000;
}

.titulo
{
    text-align: center;

}


.accordion-button{
    background-color: #3b3030;
    color: rgb(245, 235, 235);
    border: #d65b5b;
}




