
html {
    scroll-behavior: smooth;
}

body{
    background-color: #f6f6ff;
    font-family: 'Arial', Gadget, sans-serif;
    color: #000000;
    text-align: justify;
    margin: 10px;
    border: 5px solid #b15757;
    
}

.titulo
{
    text-align: center;
    color: #4b0082;
    font-size: 60px;

}


.accordion-button{
    background-color: #3b3030;
    color: rgb(245, 235, 235);
    border: #d65b5b;
}

.banner-img {
    height: 180px;
    object-fit: cover;
}

.card {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #d81818;
}




