
body{
    background-color: #f6f6ff;
    font-family: 'Arial', Gadget, sans-serif;
    color: #000000;
}

.titulo
{
    text-align: center;
    color: #4b0082;
    font-size: 60px;

}


.accordion-button{
    background-color: #3b3030;
    color: rgb(245, 235, 235);
    border: #d65b5b;
}

.banner-img {
    height: 300px;
    object-fit: cover;
}





